
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dongle&display=swap');
* {
    margin: none;
    padding: 0;
}

.name{
    font-size: 45px;
    margin-top: 16px;
    margin-left: 30px;
    font-family: 'Concert One', cursive;
    font-style: italic;
    color: #d1a135;
}

.navbar.navbar-light  {
    position: fixed;
    top: 0em;
    z-index: 2;
    height: 4em; /* 15% */
    width: 100%;
    background-color: #b3110f;
}

.nav-item{
    margin-right: 50px;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}

.navbar.navbar-light .navbar-nav .nav-link{
    color: #d3ad38;
}

/* Global setting for sections */
.section {
    padding: 30px;
    display: flex;
    height: fit-content;
    width: 100%;
    color: #b3d884;
    background-color: #023c3e;
}

.section p {
    text-align: center;
    padding: 90px;
}

.section img {
    width: 400px;
    height: 600px;
}

.left{
    float: left;
    height: 100%;
}

.right{
    float: right;
    height: 100%;
}

.left img {
    width: inherit;
    float: left;
    clear: left;
}

.right img {
    width: inherit;
    float: right;
    clear: right;
}

.center{
    position: relative;
    text-align: center;
    height: 100%;
}

.center h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Section 1 setting*/
.sec1 {
    margin-top: 4em;
    display: inline-block;
}

.sec1 .left{
    width: 40%;
    z-index: 1;
}

.sec1 .right{
    width: 40%;
    z-index: 1;
}

.sec1 .center {
    width: 100%;
    z-index: 1;
}

.sec1 img.background {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
}

.caro{
    display: flex;
    justify-content: center;
}
#carouselExampleIndicators {
    display: flex;
    width: 1000px;
    height: 490px;
    /* max-width: 600px; */
}


@media only screen and (min-width: 720) and (max-width: 1080) {
    .carousel-indicators {
        width: 100px;
    }

    .head {
        font-size: 10px;
    }

}